<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxl.jk.mapper.ContractMapper">
	<resultMap type="cn.wxl.jk.domain.Contract" id="contractMap">
		<id property="id" column="CONTRACT_ID" />
		<result property="offeror" column="OFFEROR"  />
		<result property="contractNo" column="CONTRACT_NO" />
		<result property="signingDate" column="SIGNING_DATE" />
		<result property="inputBy" column="INPUT_BY" />
		<result property="checkBy" column="CHECK_BY" />
		<result property="inspector" column="INSPECTOR" />
		<result property="totalAmount" column="TOTAL_AMOUNT" />
		<result property="importNum" column="IMPORT_NUM" />
		<result property="crequest" column="CREQUEST" />
		<result property="customName" column="CUSTOM_NAME" />
		<result property="deliveryPeriod" column="DELIVERY_PERIOD" />
		<result property="shipTime" column="SHIP_TIME" />
		<result property="tradeTerms" column="TRADE_TERMS" />
		<result property="remark" column="REMARK" />
		<result property="printstyle" column="PRINT_STYLE" />
		<result property="oldState" column="OLD_STATE" />
		<result property="state" column="STATE" />
		<result property="outstate" column="OUT_STATE" />
		<result property="createBy" column="CREATE_BY" />
		<result property="createDept" column="CREATE_DEPT" />
		<result property="createTime" column="CREATE_TIME" />
	</resultMap>

	<!-- 查询(只显示状态为启用的) -->
	<select id="find" parameterType="map"  resultMap="contractMap">
		select * from
		contract_c
		where 1=1
		
	</select>
	
	<!-- 查询一个,#{pid}可以随意写,#{id}也可以 -->
	<select id="get" parameterType="string" resultMap="contractMap">
		select * from contract_c
		where CONTRACT_ID =#{pid}
	</select>
	
	<insert id="insert" parameterType="cn.wxl.jk.domain.Contract">
			insert into contract_c (CONTRACT_ID ,OFFEROR,CONTRACT_NO,SIGNING_DATE,INPUT_BY,CHECK_BY,
									INSPECTOR,TOTAL_AMOUNT,IMPORT_NUM,CREQUEST,CUSTOM_NAME,DELIVERY_PERIOD,
									SHIP_TIME,TRADE_TERMS,REMARK,PRINT_STYLE,OLD_STATE,STATE,OUT_STATE,CREATE_BY,
									CREATE_DEPT,CREATE_TIME)
			values(
					#{id},
					#{offeror,jdbcType=VARCHAR},
					#{contractNo,jdbcType=VARCHAR},
					#{signingDate,jdbcType=TIMESTAMP},
					#{inputBy,jdbcType=VARCHAR},
					#{checkBy,jdbcType=VARCHAR},
					#{inspector,jdbcType=VARCHAR},
					#{totalAmount,jdbcType=DOUBLE},
					#{importNum,jdbcType=INTEGER},
					#{crequest,jdbcType=VARCHAR},
					#{customName,jdbcType=VARCHAR},
					#{deliveryPeriod,jdbcType=VARCHAR},
					#{shipTime,jdbcType=TIMESTAMP},
					#{tradeTerms,jdbcType=VARCHAR},
					#{remark,jdbcType=VARCHAR},
					#{printstyle,jdbcType=CHAR},
					#{oldState,jdbcType=INTEGER},
					#{state,jdbcType=INTEGER},
					#{outstate,jdbcType=INTEGER},
					#{createBy,jdbcType=VARCHAR},
					#{createDept,jdbcType=VARCHAR},
					#{createTime,jdbcType=TIMESTAMP}
			)
	</insert>
	
	<update id="update" parameterType="cn.wxl.jk.domain.Contract">
		update contract_c  
		<set>
			<if test="offeror != null">OFFEROR=#{offeror,jdbcType=VARCHAR},</if>
			<if test="contractNo!=null"> CONTRACT_NO=#{contractNo,jdbcType=VARCHAR},</if>
			<if test="signingDate != null">SIGNING_DATE=#{signingDate,jdbcType=TIMESTAMP}, </if>
			<if test="inputBy != null">INPUT_BY=#{inputBy,jdbcType=VARCHAR},</if>
			<if test="checkBy != null">CHECK_BY=#{checkBy,jdbcType=VARCHAR},</if>
			<if test="inspector != null">INSPECTOR=#{inspector,jdbcType=VARCHAR},</if>
			<if test="totalAmount != null">TOTAL_AMOUNT=#{totalAmount,jdbcType=DOUBLE},</if>
			<if test="importNum != null">IMPORT_NUM=#{importNum,jdbcType=INTEGER},</if>
			<if test="crequest != null">CREQUEST=#{crequest,jdbcType=VARCHAR},</if>
			<if test="customName != null">CUSTOM_NAME=#{customName,jdbcType=VARCHAR},</if>
			<if test="deliveryPeriod != null">DELIVERY_PERIOD=#{deliveryPeriod,jdbcType=VARCHAR},</if>
			<if test="shipTime != null">SHIP_TIME=#{shipTime,jdbcType=TIMESTAMP},</if>
			<if test="tradeTerms != null">TRADE_TERMS=#{tradeTerms,jdbcType=VARCHAR},</if>
			<if test="remark != null">REMARK=#{remark,jdbcType=VARCHAR},</if>
			<if test="printstyle != null">PRINT_STYLE=#{printstyle,jdbcType=CHAR},</if>
			<if test="oldState != null">OLD_STATE=#{oldState,jdbcType=INTEGER},</if>
			<if test="state != null">STATE=#{state,jdbcType=INTEGER},</if>
			<if test="outstate != null">OUT_STATE=#{outstate,jdbcType=INTEGER},</if>
			<if test="createBy != null">CREATE_B=#{createBy,jdbcType=VARCHAR},</if>
			<if test="createDept != null">CREATE_DEPT=#{createDept,jdbcType=VARCHAR},</if>
			<if test="createTime != null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}</if>
		</set>
		where contract_id=#{id}
	</update>

	<!-- 删除一条 -->
	<delete id="deleteById" parameterType="string" >
		delete from contract_c
		where contract_id=#{id}
	</delete>
	
	<!-- 删除多条 -->
	<delete id="delete" parameterType="string">
		delete from contract_c
		where contract_id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
				#{id}
		</foreach>
	</delete>
	
	<!-- 启用/禁用一条或多条数据 -->
	<update id="updateState" parameterType="map">
		update contract_c set state=#{state}
		where contract_id in 
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
</mapper>