<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxl.jk.mapper.ExtCProductMapperMapper">
    <resultMap id="extCProductMap" type="cn.wxl.jk.domain.ExtCProduct" >
            <id property="id" column="" ></id>

            <result property="contractProductId" column=""/><!--合同产品表-->
            <result property="factoryId" column=""/>


            <result property="productNo" column=""/>
            <result property="productImage" column=""/>
            <result property="productDesc" column=""/>
            <result property="cnumber" column=""/>
            <result property="packingUnit" column=""/>
            <result property="price" column=""/>
            <result property="amount" column=""/>
            <result property="productRequest" column=""/>
            <result property="orderNo" column=""/>

    </resultMap>

    <select id="find" parameterType="map" resultMap="extCProductMap">


    </select>

    <insert id="insert" parameterType="map">


    </insert>
</mapper>

