<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxl.jk.mapper.SysCodeMapper">
        <resultMap id="sysCodeMap" type="cn.wxl.jk.domain.SysCode">
            <id property="id" column="SYS_CODE_ID"/>
            <result property="orderNo" column="ORDER_NO"/>
            <result property="name" column="NAME"/>
        </resultMap>

    <select id="find" parameterType="map" resultMap="sysCodeMap">
        select * from sys_code_b
        where 1=1
        <if test="parentId!=null">
            and parent_id=#{parentId}
        </if>
    </select>
</mapper>